<!doctype html>
%html
    %head
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="static/books.js"></script>
        <link rel="stylesheet" type="text/css" href="static/books.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    %body
        %nav.navbar.navbar-default
            %div
                %form.navbar-form.navbar-right#search action='sort' method='POST'
                    %div.input-group
                        %select.form-control#sortby name='sortby'
                            %option
                                Highest Rating
                            %option
                                Newest
                            %option
                                Most Reviews
                            %option
                                Author
                            %option
                                blah
                        %span.input-group-btn
                            %input.btn.btn-primary type='submit' value='Update'


        -with messages = get_flashed_messages()
            -if messages
                %div.alert.alert-info#flash
                    -for message in messages
                        %span
                            {{message}}

        -block content
