%html
    %head
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
        <script src="static/books.js"></script>
        <link rel="stylesheet" type="text/css" href="static/books.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    %body
        -block content
