-for book in books
    %div.grid-item style='background-image: url({{book.cover}}); display: inline-block' onmouseover='show_info(this)' data-background-image='url({{book.cover}}' onmouseout='show_cover(this)'
        %span.invisible
            Amazon: {{book.amazon_stars or 'No Rating'}} ({{book.amazon_reviews or 'No'}} reviews)
            %br
            Goodreads: {{book.goodreads_stars or 'No Rating'}} ({{book.goodreads_reviews or 'No'}} reviews)
            %br
            %a href={{book.url}}
                %img src='https://images-na.ssl-images-amazon.com/images/G/01/associates/remote-buy-box/buy5.gif'