-extends "base.haml"
-block content
    %div.container-fluid
        %div.row-fluid
            %div#grid.grid.col-xs-12
                %div.col-centered
                    -for book in books
                        %div.grid-item style='background-image: url({{book.cover}})'